body{
  background-color: #000033;
  font-family: "Funnel Display", serif;
}
.header{
  text-align: center;
  color: powderblue;
}
.section{
  position : relative;
  background-color: #000099;
  padding: 1em;
  margin: 1em;
}
.container{
  background-color: #000066;
  float: inline-grid;
  margin: 0.5em;
}
.text{
  color: lavenderblush;
  text-align: justify;
  font_size : 12pt;
}
.footer{
  color: cornflowerblue;
  font-size: 10pt;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #000044;
}
h2{
  color: skyblue;
  font-size: 20pt;
}
h3{
  color: #ddddff;
  font_size: 16pt;
} 
table{
  border:none;
}
td{
  width:50%;
}
